# Python Review

#### Exercises from W3schools.com for practice starting from beginning

____

### Exercise #1:
Insert the missing part of the code below to output "Hello World".

In [1]:
print
("Hello World")

'Hello World'

### Exercise #2:
Insert the missing indentation to make the code correct:

In [2]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

### Exercise #3:
Comments in Python are written with a special character, which one?

In [3]:
# This is a comment

### Exercise #4:
Use a multiline string to make the a multi line comment:

In [4]:
"""
This is a comment
written in 
more that just one line
"""

'\nThis is a comment\nwritten in \nmore that just one line\n'

### Exercise #5:
Create a variable named carname and assign the value Volvo to it.

In [5]:
carname = "Volvo"

### Exercise #6:
Create a variable named x and assign the value 50 to it.

In [6]:
x = 50

### Exercise #7:
Display the sum of 5 + 10, using two variables: x and y.

In [7]:
x = 5
y = 10
print(x + y)

15

### Exercise #8:
Create a variable called z, assign x + y to it, and display the result.

In [8]:
x = 5
y = 10
z = x + y
print(z)

15

### Exercise #9:
Remove the illegal characters in the variable name:

In [9]:
my_first_name = "John"

### Exercise #10:
Insert the correct syntax to assign the same value to all three variables in one code line.

In [10]:
x = y = z = "Orange"

### Exercise #11:
Insert the correct keyword to make the variable x belong to the global scope.

In [11]:
def myfunc():
    global x
    x = "fantastic"

### Exercise #12:
The following code example would print the data type of x, what data type would that be?

In [12]:
x = 5
print(type(x))

# int

<class 'int'>

### Exercise #13:
The following code example would print the data type of x, what data type would that be?

In [13]:
x = "Hello World"
print(type(x))

# str

<class 'str'>

### Exercise #14:
The following code example would print the data type of x, what data type would that be?

In [14]:
x = 20.5
print(type(x))

# float

<class 'float'>

### Exercise #15:
The following code example would print the data type of x, what data type would that be?

In [15]:
x = ["apple", "banana", "cherry"]
print(type(x))

# list

<class 'list'>

### Exercise #16:
The following code example would print the data type of x, what data type would that be?

In [16]:
x = ("apple", "banana", "cherry")
print(type(x))

# tuple

<class 'tuple'>

### Exercise #17:
The following code example would print the data type of x, what data type would that be?

In [17]:
x = {"name" : "John", "age" : 36}
print(type(x))

# dict

<class 'dict'>

### Exercise #18:
The following code example would print the data type of x, what data type would that be?

In [18]:
x = True
print(type(x))

# bool

<class 'bool'>

### Exercise #19:
Insert the correct syntax to convert x into a floating point number.

In [19]:
x = 5
x = float(x)

### Exercise #20:
Insert the correct syntax to convert x into a integer.

In [20]:
x = 5.5
x = int(x)